.showCentre{
  text-align: -webkit-center;
}
.card{
    display: block;
    float: left;  
}
img.cardImg{
    margin-top: 7px;
    width: 80%;
    height: 140px;
}
.cardIcon{
  width: 30px;
  height: 30px;
  padding: 5px 5px 5px 5px;
  border: 1px solid;
  border-radius: 24px;
  background-color: rgb(255, 255, 249);
  border-color:  rgb(255, 255, 249);
  box-shadow:  4px 0px 1px rgba(173, 172, 172, 0.2);
  margin-top: 20px;
  cursor: pointer;

}
h5{
    margin-bottom: 0px;
    margin-top: 10px;
}
.add{
    margin-top: 40px;
}
button{
    width: 50px;
    height: 30px;
    color: white;
    background-color:rgb(9, 105, 196);
    border-color: rgba(0, 0, 0, 0.699);
    border-radius: 3px;
    border: 1px solid;
    
}

.flex-vertical{
    display: flex;
    flex-direction: column;
}
.flex-horizontal{
  display: flex;
  flex-direction: row;

}
.flex-horizontal-rev{
  display: flex;
  flex-direction: row-reverse;

}
.flex-vertical-rev{
  display: flex;
  flex-direction: column-reverse;

}
.align-to-end{
  justify-content:space-between;
}
.flip-card {
    background-color: transparent;
    width: 160px;
    height: 200px;
    border: 1px solid #f1f1f1;
    margin-right: 40px;
    margin-top: 20px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container 
is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 0px solid;
    background-color: rgb(234, 235, 238);
    border-radius: 5px;
    box-shadow: 2px 3px 3px 1px rgba(0, 0, 0, 0.2);
  }

  /* Style the back side */
  .flip-card-back {
    background-color: rgb(210, 240, 240);
    transform: rotateY(180deg);
  }
  .details-Img{
    height: 250px;
    width: 200px;
  }
  .font-med{
    font-size: 16px;
  }
  h4.priceLabel{
    margin-top: 20px;
    background-color: azure;
    
  }
  /* cart count*/
  .cartCount{
    height: 45px;
    border: 1px solid;
    border-radius: 24px;
    background-color: rgb(238, 238, 235);
    border-color:  rgb(230, 230, 221);
    display: flex;
    align-items: center;
    margin-right: 60px;
    margin-left: 30px;
    text-decoration: none;
  }
  .size-30{
    height: 30px;
    width: 30px;
    margin-left: 20px;
  }
  .cartCount label{
    margin-left: 10px;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-right: 20px;

  }
  .search-box{
    border-radius: 4px;
    height: 30px;
    width: 300px;
    border: 0px solid;
    margin-left: 15px;
    
  }
  input:focus{
    outline: none;
    border: none;
  }
  .size-25{
    width: 25px;
    height: 25px;
  }
  .search-icon{
    margin-left: 15px;
    margin-right: 15px;
  }
  .bottomDiv{
     margin-bottom: 20px;;
  }
  /* popup modal window*/
  .popup{
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index:10;
    background-color:  rgba(131, 131, 131, 0.692);
    
  }
  .popupInner{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: rgb(234, 235, 238);
    border: 1px solid;
    border-color:rgb(234, 235, 238);
    border-radius: 10px;
    box-shadow: 0px 0px 8px 4px rgba(3, 0, 0, 0.5);
    margin: 8% auto;
    padding: 10px 20px 20px 20px;
  }
  .close-img{
   font-size: 15px;
   right: 20px;
   position: absolute;
   width: 20px;
   height: 20px;
   border: 1px solid;
   border-radius: 20px;
   border-color: rgb(215, 215, 212);
   background-color: rgb(215, 215, 212);
   cursor: pointer;
   padding: 5px 5px 5px 5px;
  }
  .simple-list{
    list-style-type : none;
    padding: 0px;
  }
  .viewcart-row{
    width:50%;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgb(209, 231, 247);
    background-color:rgb(209, 231, 247);
    margin:10px 10px 10px 10px;
    justify-content: space-between;
    align-items: stretch;
  }
  .cartrow-img{
    width: 70px;
    height: 90px;
    margin-left: 50px;
  }
  .cart-remove{
    margin-top: 20px;
    right: 10%;
    width: 30px;
    height: 30px;
  }
  .delete-icon{
    background-color: rgb(240, 156, 156);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100px;
    text-align: center;
    cursor: pointer;
  }
  .emptyCart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height:300px;
    background-color: rgb(234, 235, 238);
    border: 1px solid;
    border-color:rgb(234, 235, 238);
    border-radius: 10px;
    margin: 5% auto;

  }
  .emptyCart img{
    width: 35px;
    height: 35px;

  }
  .cart-list{
    margin-bottom: 80px;
  }
  .total-container{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height:70px;
    bottom: 0px;
    margin-top: 20px;
  }
  .total-amount{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width: 55%;
    height: 90%;
    background-color: rgb(222, 248, 230);
    border: 1px solid;
    border-color:rgb(0, 0, 0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;;
    
  }
  .total-amount p{
    margin: 5px;
  }
 